---
import { Picture } from "@astrojs/image/components";
import andres from '../assets/andres.jpg'
import cristobal from '../assets/cristobal.jpg'
import diego from '../assets/diego.jpg'
import ignacio from '../assets/ignacio.jpg'
import nate from '../assets/nate.jpg'
import nati from '../assets/nati.jpg'
import pato from '../assets/pato.jpg'
import patricio from '../assets/patricio.jpg'
---

<section class="flex flex-col px-5 md:px-40 min-h-[100vh] pt-[10vh]" id="team">
    <h2 class="font-raleway text-4xl mb-10 font-semibold pl-5 md:pl-0">Equipo</h2>
    <div class="flex flex-col mb-10">
        <div class="flex flex-wrap justify-evenly md:justify-between md:mb-10">
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={andres} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Andrés Junge</h3>
            </div>
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={cristobal} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Cristóbal Pereira</h3>
            </div>
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={diego} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Diego Ibieta</h3>
            </div>
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={ignacio} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Ignacio Puga</h3>
            </div>
        </div>
        <div class="flex flex-wrap justify-evenly md:justify-between md:mb-10">
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={nate} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Nathan Schmidt</h3>
            </div>
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={nati} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Natalia Miranda</h3>
            </div>
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={pato} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg mb-4 md:mb-0">Patricio López</h3>
            </div>
            <div class="flex flex-col items-center mb-4 md:mb-0">
                <Picture src={patricio} alt="Foto perfil" widths={[160,213]} aspectRatio="1:1" sizes="(min-width: 1024px) 213px, 160px" class="rounded-sm"/>
                <h3 class="font-medium mt-2 md:mt-4 text-lg">Patricio López Juri</h3>
            </div>
        </div>
    </div>
</section>
